.login-wrapper {
    background: linear-gradient(135deg, #dbe6f6, #c5796d);
  }
  
  .login-card {
    width: 100%;
    max-width: 450px;
    border-radius: 25px;
    background: #ffffffcc;
    backdrop-filter: blur(8px);
  }
  
  .text-gradient {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  